
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/success/css/mdb.min.css">
    <link rel="stylesheet" href="static/success/css/style.css">
    <title>Telkomsel</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

</head>

<body>
  <div class="content-detail">
    <div class="box mx-auto">
        <div class="banner">
            <img src="static/success/img/img-banner.png" class="img-fluid" alt="Terimakasih">
        </div>
    </div>
    <section class="content" style="background-position-y: 215px;">
        <div class="container-fluid box">
            <div class="card shadow-none text-dark mb-5" style="margin-top: calc(-24px * 2);">
                <div class="card-body content">
                    <h3 class="title">
                        Terimakasih silahkan cek sms dari 97770 untuk cara akses portal cloudplay/galays
                    </h3>
                </div>
            </div>
        </div>
    </section>
  </div>
</body>

</html>