<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/galays/css/mdb.min.css">
  <link rel="stylesheet" href="static/galays/css/style.css">
  <link rel="stylesheet" href="https://vngemezz.exmp.app/static/icon/bootstrap-icons.css">
  <title>Galays</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','{{ .gtag }}');</script>
    
  <script>
    !function (w, d, t) {
    w.TiktokAnalyticsObject=t;var ttq=w[t]=w[t]||[];ttq.methods=["page","track","identify","instances","debug","on","off","once","ready","alias","group","enableCookie","disableCookie","holdConsent","revokeConsent","grantConsent"],ttq.setAndDefer=function(t,e){t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}};for(var i=0;i<ttq.methods.length;i++)ttq.setAndDefer(ttq,ttq.methods[i]);ttq.instance=function(t){for(
    var e=ttq._i[t]||[],n=0;n<ttq.methods.length;n++)ttq.setAndDefer(e,ttq.methods[n]);return e},ttq.load=function(e,n){var r="https://analytics.tiktok.com/i18n/pixel/events.js",o=n&&n.partner;ttq._i=ttq._i||{},ttq._i[e]=[],ttq._i[e]._u=r,ttq._t=ttq._t||{},ttq._t[e]=+new Date,ttq._o=ttq._o||{},ttq._o[e]=n||{};n=document.createElement("script")
    ;n.type="text/javascript",n.async=!0,n.src=r+"?sdkid="+e+"&lib="+t;e=document.getElementsByTagName("script")[0];e.parentNode.insertBefore(n,e)};
    
    ttq.load('{{ .tiktok }}');
    ttq.page();
    }(window, document, 'ttq');
  </script>
</head>

<body>
  <div class="box mx-auto">
    <div class="banner">
        <img src="static/galays/img/banner-galays.jpg" class="img-fluid" alt="">
    </div>
  </div>
  <section class="section" style="background-position-y: 215px;">
    <div class="container-fluid box">
      <div class="card shadow-custom text-dark mb-4">
          <div class="card-body content">
              <h3 class="title">
                  Anda akan berlangganan Games GALAYS.
              </h3>
              <a href="#" id="subscribe" class="btn button btn-lg w-100 btn-danger">
                Mainkan Sekarang!
              </a>
          </div>
      </div>
      <div class="term">
        <p class="mb-0">Galays adalah layanan berlangganan. Anda akan dikenakan biaya Rp. 3.300/SMS, 1 SMS/3
            hari pada tagihan ponsel Anda dan akan diperbarui secara otomatis.
            Untuk membatalkan, ketik UNREG GALAYS kirim ke 97770. Dengan klik tombol, Anda telah setuju dengan
            syarat dan ketemtuan</p>
    </div>
  </div>
  </section>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="static/cloudplay/js/mdb.min.js"></script>
  <script>
    $(document).ready(function () {

      var ip = "";
      $.getJSON("https://api.ipify.org/?format=json", function (e) {
        ip = e.ip;
      });

      var getUrlParameter = function getUrlParameter(sParam) {
        var sPageURL = window.location.search.substring(1),
          sURLVariables = sPageURL.split('&'),
          sParameterName,
          i;

        for (i = 0; i < sURLVariables.length; i++) {
          sParameterName = sURLVariables[i].split('=');

          if (sParameterName[0] === sParam) {
            return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
          }
        }
        return "";
      };

      $('#subscribe').click(function (event) {
        event.preventDefault();

        $('#loading').show();
        // disable button
        $("#subscribe").attr("disabled", true);


        var keyword = "";
        var subkey = "";
        var adnet = "";
        var pubid = "";
        var aff_sub = "";

        keyword = getUrlParameter("keyword");
        subkey = getUrlParameter("subkey");
        adnet = getUrlParameter('ad');
        pubid = getUrlParameter('pubid');
        aff_sub = getUrlParameter('aff_sub');

        $.ajax({
          type: 'POST',
          url: '/galays',
          data: JSON.stringify({
            service: "GALAYS1",
            keyword: keyword,
            subkey: subkey,
            adnet: adnet,
            pubid: pubid,
            aff_sub: aff_sub,
          }),
          dataType: 'json',
          contentType: "application/json; charset=utf-8",
          success: function (json) {
            if (json.error == false) {
              window.location.href = json.redirect;
            }
            $('#loading').hide();
          },
          error: function () {
            // enable button
            $("#subscribe").removeAttr("disabled");
            $('#loading').hide();
          }
        });

      })
    })
  </script>
</body>

</html>