<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ .host }}/static/cloudplay/css/mdb.min.css">
  <link rel="stylesheet" href="{{ .host }}/static/cloudplay/style.css">
  <title>Cloudplay</title>
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ .gtag }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments)};
    gtag('js', new Date());
    gtag('config', '{{ .gtag }}');
  </script>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','{{ .gtag }}');</script>

  <script>
    !function (w, d, t) {
    w.TiktokAnalyticsObject=t;var ttq=w[t]=w[t]||[];ttq.methods=["page","track","identify","instances","debug","on","off","once","ready","alias","group","enableCookie","disableCookie","holdConsent","revokeConsent","grantConsent"],ttq.setAndDefer=function(t,e){t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}};for(var i=0;i<ttq.methods.length;i++)ttq.setAndDefer(ttq,ttq.methods[i]);ttq.instance=function(t){for(
    var e=ttq._i[t]||[],n=0;n<ttq.methods.length;n++)ttq.setAndDefer(e,ttq.methods[n]);return e},ttq.load=function(e,n){var r="https://analytics.tiktok.com/i18n/pixel/events.js",o=n&&n.partner;ttq._i=ttq._i||{},ttq._i[e]=[],ttq._i[e]._u=r,ttq._t=ttq._t||{},ttq._t[e]=+new Date,ttq._o=ttq._o||{},ttq._o[e]=n||{};n=document.createElement("script")
    ;n.type="text/javascript",n.async=!0,n.src=r+"?sdkid="+e+"&lib="+t;e=document.getElementsByTagName("script")[0];e.parentNode.insertBefore(n,e)};
    
    ttq.load('{{ .tiktok }}');
    ttq.page();
    }(window, document, 'ttq');
  </script>
</head>

<body>
  <div class="mx-auto box-wrapper banner mb-3">
    <img src="{{ .host }}/static/cloudplay/img/banner.jpg" alt="Banner" class="img-fluid">
  </div>
  <div class="container-fluid box-wrapper text-center pb-3">
    <h3 class="mb-1 title">Mainkan Game Terbaik Sekarang!</h3>
    <p class="small mb-2 text-muted">Klik untuk Dapat Akses ke Cloudplay</p>
    <a href="#" id="subscribe" class="btn btn-transparent button shadow">
      <span class="button-light"></span>
      <span class="button-text">Mainkan Sekarang!</span>
    </a>

    <div class="container-fluid mt-4">
      <p class="info mb-1">CloudPlay adalah layanan berlangganan. Anda akan dikenakan biaya Rp 2,220/SMS, 1 SMS/2 hari
        pada tagihan ponsel Anda dan akan diperbarui secara otomatis.</p>
      <p class="info mb-0">Untuk membatalkankan, ketik UNREG CLOUDPLAY kirim ke 97770. Dengan klik tombol, Anda telah
        setuju dengan <a class="text-danger" href="{{ .host }}/cloudplay/term">syarat dan ketentuan</a></p>
      <img class="mt-3" src="{{ .host }}/static/cloudplay/img/logo.png" alt="Logo" width="100" style="width: 100px; height: auto;">
    </div>

  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="{{ .host }}/static/cloudplay/js/mdb.min.js"></script>
  <script>
    $(document).ready(function () {

      var ip = "";
      $.getJSON("https://api.ipify.org/?format=json", function (e) {
        ip = e.ip;
      });

      function gtag_report_conversion(url) {
        var callback = function() {
          if (typeof(url) != 'undefined') {
              window.location = url;
          }
        };
        gtag('event', 'conversion', {
            'send_to': '{{ .gtag }}',
            'value': 1.0,
            'currency': 'IDR',
            'event_callback': callback
        });
        console.log("conversion")
        return false;
      }

      var getUrlParameter = function getUrlParameter(sParam) {
        var sPageURL = window.location.search.substring(1),
          sURLVariables = sPageURL.split('&'),
          sParameterName,
          i;

        for (i = 0; i < sURLVariables.length; i++) {
          sParameterName = sURLVariables[i].split('=');

          if (sParameterName[0] === sParam) {
            return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
          }
        }
        return "";
      };

      $('#subscribe').click(function (event) {
        event.preventDefault();

        $('#loading').show();
        // disable button
        $("#subscribe").attr("disabled", true);


        var keyword = "";
        var subkey = "";
        var adnet = "";
        var pubid = "";
        var aff_sub = "";

        keyword = getUrlParameter("keyword");
        subkey = getUrlParameter("subkey");
        adnet = getUrlParameter('ad');
        pubid = getUrlParameter('pubid');
        aff_sub = getUrlParameter('aff_sub');

        $.ajax({
          type: 'POST',
          url: '/cloudplay',
          data: JSON.stringify({
            service: "CLOUDPLAY",
            keyword: keyword,
            subkey: subkey,
            adnet: adnet,
            pubid: pubid,
            aff_sub: aff_sub,
          }),
          dataType: 'json',
          contentType: "application/json; charset=utf-8",
          success: function (json) {
            if (json.error == false) {
              window.location.href = json.redirect;
              gtag_report_conversion(json.redirect);
            }
            $('#loading').hide();
          },
          error: function () {
            // enable button
            $("#subscribe").removeAttr("disabled");
            $('#loading').hide();
          }
        });

      })
    })
  </script>
</body>

</html>