@font-face {
    font-family: "gotham";
    src: url('../font/GOTHAM-MEDIUM.OTF');
}

body {
    font-family: 'gotham', sans-serif;
    background-color: #EDF0F7;
}

/* a {
    color: #1268FB;
}
a:hover,
a:focus {
    color: #1268FB;
} */

.input-group.has-validation>.dropdown-toggle:nth-last-child(n+4),
.input-group.has-validation>:nth-last-child(n+3):not(.dropdown-toggle):not(.dropdown-menu),
.input-group:not(.has-validation)>.dropdown-toggle:nth-last-child(n+3),
.input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    border-top-left-radius: 0.5rem !important;
    border-bottom-left-radius: 0.5rem !important;
}

.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    border-top-right-radius: 0.5rem !important;
    border-bottom-right-radius: 0.5rem !important;
}

.box {
    max-width: 576px;
}

.navbar {
    background-color: white;
}

.banner {
    position: relative;
    background-image: url(../img/bg-game.jpg);
    background-size: contain;
    animation-name: animate-bg;
    animation-timing-function: linear;
    animation-duration: 2000s;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

.banner::after {
    content: '';
    background-color: rgba(255, 163, 179, 0.75);
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.banner img {
    position: relative;
    z-index: 1;
}

.section {
    padding-top: 24px;
    padding-bottom: 24px;
}

.section-smoke {
    background-color: #E7E7E7;
    color: #606060;
}

.section .section-title {
    font-size: 1.125rem;
    font-weight: bold;
    margin-bottom: 24px;
    text-align: center;
    line-height: 1.65rem;
}

.card {
    position: relative;
    z-index: 2;
}

.term {
    font-size: 0.875rem;
    line-height: 1.35rem;
    text-align: center;
    opacity: 0.85;
}

.term ol li {
    margin-bottom: 0.25rem;
}

.term ol li:last-child {
    margin-bottom: 0;
}

.btn-lg {
    font-size: 1.125rem;
}

.btn-danger {
    background: linear-gradient(to right, #f85032, #e73827);
}

.content {
    position: relative;
    min-height: 140px;
}

.language-item {
    position: relative;
    z-index: 5;
    margin-top: -110px;
}

.language {
    margin: 32px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 100px;
}

.language .nav-item {
    font-size: 16px;
    color: #212529 !important;
    padding: 8px 24px;
}

.language .nav-item.active {
    background: linear-gradient(to right, #f85032, #e73827) !important;
    border-radius: 100px;
    color: #fff !important;
}

.shadow-custom {
    box-shadow: 0px 5px 0px 0px #e73827;
}

.input-group .input-group-text {
    position: relative;
    width: 50px;
}

.title {
    font-weight: 700;
    font-size: 1.313rem;
    text-align: center;
    margin-bottom: 0.875rem;
    line-height: 1.65rem;
}

.title-sm {
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 0.875rem;
    line-height: 1.5rem;
    text-align: center;
}

.icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    font-size: 1.5rem;
    line-height: normal;
}

.loading {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
}

.page-status {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.page-status-icon {
    font-size: 2.625rem;
    line-height: 0;
    margin-bottom: 1rem;
}

.page-status-icon span::before {
    vertical-align: middle;
}

.button {
    position: relative;
    font-weight: bold;
}

/* .button::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 55px;
    display: inline-block;
    background-image: url('img/arrow-right.gif');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
    left: 0.5rem;
    transform: translateY(-50%);
    top: 50%;
    opacity: 0.2;
}
.button::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 55px;
    display: inline-block;
    background-image: url('img/arrow-left.gif');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right center;
    right: 0.5rem;
    transform: translateY(-50%);
    top: 50%;
    opacity: 0.2;
}
.button-light {
    width: 30px;
    height: 200px;
    position: absolute;
    left: -20px;
    top: 0;
    margin-top: -20px;
    background: white;
    opacity: 0.6;
    filter: blur(20px);
    animation: blur 2s infinite;
    animation-delay: 0s;
    transform-origin: top;
} */


@keyframes animate-bg {
    100% {
        background-position: 100000px 0
    }
}

@-webkit-keyframes animate-bg {
    100% {
        background-position: 100000px 0
    }
}

@-moz-keyframes animate-bg {
    100% {
        background-position: 100000px 0
    }
}

@-o-keyframes animate-bg {
    100% {
        background-position: 100000px 0
    }
}

@keyframes blur {
    from {
        transform: translate(0) rotate(45deg);
    }

    to {
        transform: translateX(370px) rotate(45deg);
    }
}